<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.alee.nsd"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nsd"
        android:label="@string/nsd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AleeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".service.NSDService"/>
    </application>

</manifest>